/var/cache/*
/var/log/*
/var/test.db
/vendor/*
/public/*
!/public/index.php
/node_modules/*
.env.local
.env.test

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit ###
.phpunit.result.cache
###< phpunit ###

###> docker ###
.env.docker
###< docker ###
.env
